/* -----------  PERCENTAGE SLIDER --------------- */
/* Source: http://codepen.io/osublake/pen/EVREKp*/


#slider {
  position: absolute;
  left: calc(100% + 25px);
  font-size: 15px;
  padding: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.knob-container {
  position: absolute;
  background-color: red;
}


.rail {
  background-color: black;
  height: 5px;
  width: 400px;
  top: 25px;
  overflow: visible;
  padding: 0;
  left: 50%;
  top: 100px;
  position: absolute;
  transform: translateX(-50%);
}

.knob {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;  
  background: red;
  border-radius: 50%;
}

/* -----------  PROGRESS BAR --------------- */

.progress {
      border-radius:0;
    }
    .progress-bar {
      width: 0;
      -moz-animation: progress 0.5s forwards ease-out;
      -webkit-animation: progress 0.5s forwards ease-out;
      animation: progress 0.5s forwards ease-out;
    }

    @-moz-keyframes progress {
      from {
        width: 62%;
      }
      to {
        width: 69%;
      }
    }
    @-webkit-keyframes progress {
      from {
        width: 62;
      }
      to {
        width: 69%;
      }
    }
    @keyframes progress {
      from {
        width: 62%;
      }
      to {
        width: 69%;
      }
    }
    

  @import compass
  .progress-bar
    width: 0
    +animation(progress 0.5s forwards ease-out)

  +keyframes(progress)
    from 
      width: 62
    to
      width: 68%
  -->
  
  <!-- Temporary css for radio buttons -->

    ul {
      padding-left:0;
    }
    ul li {
      list-style:none;
    }
    
    input[type="radio"], input[type="checkbox"] {
      display: none;
    }
    input[type="radio"] + label, input[type="checkbox"] + label {
      position: relative;
      display: inline-block;
      padding-left: 24px;
      margin-right: 32px;
      cursor: pointer;
      line-height: 16px;
      transition: all .2s ease-in-out;
      margin-bottom: 10px;
    }
    input[type="radio"] + label:before, input[type="radio"] + label:after, input[type="checkbox"] + label:before, input[type="checkbox"] + label:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 16px;
      height: 16px;
      text-align: center;
      color: #f5f5f5;
      font-family: Times;
      border-radius: 50%;
      transition: all .3s ease;
    }

    input[type="radio"] + label:before {
      box-shadow: inset 0 0 0 1px #666565, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }
    input[type="radio"] + label:hover {
      color: #44BB6E;
    }
    input[type="radio"] + label:hover:before {
      animation-duration: .5s;
      animation-name: change-size;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }

    input[type="radio"]:checked + label:hover {
      color: #333333;
      cursor: default;
    }
    input[type="radio"]:checked + label:before {
      animation-duration: .2s;
      animation-name: select-radio;
      animation-iteration-count: 1;
      animation-direction: Normal;
      box-shadow: inset 0 0 0 1px #44BB6E, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #44BB6E;
    }

    @keyframes change-size {
      from {
        box-shadow: 0 0 0 0 #44BB6E, inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
      }
      to {
        box-shadow: 0 0 0 1px #44BB6E, inset 0 0 0 1px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
      }
    }
    @keyframes select-radio {
      0% {
        box-shadow: 0 0 0 0 #91DEAC, inset 0 0 0 2px #FFFFFF, inset 0 0 0 3px #44BB6E, inset 0 0 0 16px #FFFFFF, inset 0 0 0 16px #44BB6E;
      }
      90% {
        box-shadow: 0 0 0 10px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 2px #FFFFFF, inset 0 0 0 16px #44BB6E;
      }
      100% {
        box-shadow: 0 0 0 12px #E8FFF0, inset 0 0 0 0 #FFFFFF, inset 0 0 0 1px #44BB6E, inset 0 0 0 3px #FFFFFF, inset 0 0 0 16px #44BB6E;
      }
    }
