/* ------ Footer styles ------ */
@import '_variables.scss';

footer {
    padding: 0 90px;
    min-height: $baseline * 8;
    font-size: 14px;
    .logo {
        max-width: 40px;
        /*margin-bottom: $baseline * 1.5;*/
    }  
}