/* ------- menu start ------ */
@import '_variables.scss';
	
.navbar {
    border: 0;
    height: 50px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fff;
}
.navbar li {
    font-size: 16px; 
    box-sizing: border-box;
    color: black;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    background-color: fff;
    border-bottom: 15px solid #CEBFE4;
    margin-bottom: 50px;
    line-height: 50px;


}
.navbar-default .navbar-nav  > li > a::before {
    bottom: -5px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    right: 50%;
    transition-duration: 0.3s;
    transition-property: left, right;
    transition-timing-function: ease-out;
    z-index: -1;
    background: #3c0095;
}

.navbar-right {
    > li {
        min-width: 50px;

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &:first-child {
            border-left: 1px solid $brand-primary-75;
        } 
        
        &:last-child {
            border: none; 
        }
    }
}

@media screen and (min-width: 1200px) {
    .navbar-right li.follow {
        border-left: 1px solid $brand-primary-75;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #000; 

    &.icon {
        padding-top: 16px;
        padding-bottom: 13px;
        height: 50px;

        img.tiles {
            width: 22px;
            height: 22px;
        }
        
        img.follow {
            width: 19px;
            height: 18px;
        }
        
        img.sites {
            width: 25px;
            height: 20px;
        }
      
        &.loggedInUser {
            padding: 0;
        
            img {
                width: 50px;
                height: 50px;
          
                &:hover {
                    filter: saturate(1.5);
                }
            }
        }

        img.alerts {
            width: 17px;
            height: 20px;
        }

        img.settings {
            width: 20px;
            height: 20px;
        }

        img.help {
            width: 17px;
            height: 21px;
        }

        img.searcher {
            width: 20px;
            height: 20px;
        }
    }
}

.navbar-default .navbar-nav >li.tile > a.icon {
    padding-top: 14px;  
}

@media screen and (max-width: 1199px) {
    .navbar-form {
        display: none;
    }      
}
@media screen and (min-width: 1200px){ //searchfield styling
    .navbar-form { 
        margin: 9px 0 0 0;

        .form-group {
            margin-top: 0;

        .input-group {
            background-color: $brand-primary-75;
            height: 32px;
            width: 100%;
  
            input.search {
                background-color: $brand-primary-75;
                border: 1px solid $brand-primary-75;
                height: 32px;
                line-height: $baseline;
                color: white;
                
                    &:hover {
                        background-color: $brand-primary-50;
                        border: 1px solid $brand-primary-50;
                    }
          
                    &:focus {
                        outline: 0;
                        -webkit-box-shadow: none;
                        box-shadow: none;  
                        background-color: $brand-primary-50; 
                        border: 1px solid $brand-primary-50;       
                    }  

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: white!important;
                    }
          
                    &::-moz-placeholder { /* Firefox 19+ */
                        color: white!important;
                    }
          
                    &:-ms-input-placeholder { /* IE 10+ */
                        color: white!important;
                    }
          
                    &:-moz-placeholder { /* Firefox 18- */
                        color: white!important;
                    }
                }
        
                .btn {
                    background-color: $brand-primary-75;
                    margin-bottom: 0;
                    height: 32px;
                    padding: 3px 0 3px 0;
                    border: none;
                    width: 32px; 

                    &:hover {
                        background-color: $brand-primary-50;
                    }       

                    .searchIcon {
                        width: 60%;
                        margin-top: 3px;
                    }
                }        
            }
        }
    }  
}

/*--- mega meny ----*/
.mega-menu-root .dropdown-menu {
    display: block;
    max-height: 0 !important;
    height: 400px;
    overflow: hidden;
    padding: 0;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.mega-menu-root .open > .dropdown-menu {
    max-height: 1000px!important;   
}

main, footer {
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}


.menu-large {
    position: static !important; 
}

.megamenu {
    padding: 20px 0;
    width: 100%;
    background-color: #004778;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    z-index: 10000;
}

.megamenu > li > ul {
    padding: 0;
    margin: 0; 
}

.megamenu > li > ul > li, .megamenu li   {
    list-style: none; 
}

.megamenu > li > ul > li > a, .megamenu  li  a, 
.megamenu > li > ul > li > a, .megamenu  li  h3 {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #ffffff;
    white-space: normal; 
}

.megamenu > li ul > li > ul.listwrap {
    padding-top: $baseline * 2.5;
    padding-bottom: $baseline;
}

.megamenu > li ul > li > ul.listwrap > li{
    margin-bottom: $baseline * 1.5;
}
.megamenu > li ul > li > ul.listwrap > li > a{
    margin-bottom: $baseline/2;
}

.megamenu >li ul > li ul > li ul  {
    padding-left: 0;
    margin-left: 0; 
}

.megamenu >li ul > li ul > li ul > li a {
    color: $brand-logo;
}

.megamenu > li ul > li > a:hover,
.megamenu > li ul > li > a:focus {
    text-decoration: none;
    color: $text-color;
    background-color: #fff;
    -moz-transition: $trans;
    -o-transition: $trans;
    -webkit-transition: $trans;
    transition: $trans;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    color: #ffffff; 
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed; 
}

.megamenu.dropdown-header {
    color: #428bca;
    font-size: 18px; 
}

.dropdown-header {
    color: #ffffff;
}
