
/*#progress {

  left: calc(100% + 25px);
  font-size: 15px;
  padding: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.knob-container {
  position: absolute;
}


.rail {
  background-color: $brand-primary;
  height: 5px;
  width: 400px;
  top: 25px;
  overflow: visible;
  padding: 0;
  /*left: 50%;
  top: 100px;
  position: relative;
  transform: translateX(-50%);
}

.knob {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;  
  background: $brand-primary;
  border-radius: 50%;
}

*/

#progress {
  position: absolute;
  left: calc(100% + 25px);
  font-size: 15px;
  padding: 10px;
  transform: translateY(-50%);
  top: 50%;
}

.knob-container {
  position: absolute;
}


.rail {
  background-color: black;
  height: 5px;
  width: 400px;
  top: 25px;
  overflow: visible;
  padding: 0;
  left: 50%;
  top: 100px;
  position: absolute;
  transform: translateX(-50%);
}

.knob {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;  
  background: greenyellow;
  border-radius: 50%;
}